
// body font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

// 
$font: 'Inter', sans-serif;
// color
$primary: #1A5BF8;
$sidebar: #020918;
$btn_color: #081F52;
$text_dark: #1F2635;
$text: #1e2026;
$text_light: #6b6b6b;
$boder: #ECEDF1;
$white: #fff;
$body_color: #F8F8F8;
